# Dépendances Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Dossier build/output
dist/
build/
out/
.next/
.cache/

# Configs locales
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Autres
coverage/
